<h1>Rotten Mangoes</h1>



<%= paginate @users %>

<p>Hello admin</p>
<% @users.each do |user| %>
 <%= link_to "this user", admin_user_path(user) %> <p>user full name: <%= user.full_name %></p>
 <p>user encrypted password: <%= user.password_digest %></p>
  <p>user creation date: <%= user.created_at %></p>
  <p>user update date: <%= user.updated_at %></p>
    <p>user email: <%= user.email %></p>
    <br>
<% end %>