will be updated with individual admin user info info


<p>user full name : <%= @user.full_name %></p>

<p>user encrypted password: <%= @user.password_digest %></p>
<p>@user creation date: <%= @user.created_at %></p>
<p>@user update date: <%= @user.updated_at %></p>
<p>@user email: <%= @user.email %></p>

<p> <%= link_to "this user edit", edit_admin_user_path(@user) %></p>



<p> <%= link_to "destroy this user",  admin_user_path(@user), method: :delete, data: {confirm: "You sure?"} %> </p>